.cover {
  position: relative;
  width: 100%;
}

.cover img {
  object-fit: cover;
}

.cover.small {
  height: 260px !important;
}

.cover.large {
  height: 350px !important;
}

.cover.full {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}

.cover.full > span {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
