.card {
  width: 360px;
  max-width: 100%;
  height: fit-content;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link:hover {
  text-decoration: underline;
  opacity: 0.8;
}

.caption {
  width: 290px;
  display: block;
  overflow: hidden;
}

.text {
  margin: 0;
}

.bookmark {
  position: absolute;
  top: 10px;
  right: 5px;
}

.stats {
  gap: 12px;
}
