.card {
  width: 360px;
  max-width: 100%;
  height: fit-content;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.caption {
  width: 290px;
  display: block;
  overflow: hidden;
}

.text {
  margin: 0;
}

.action {
  position: absolute;
  top: 10px;
  right: 5px;
}
