.root {
  padding-top: 18px;
}

.hamburger {
  padding-left: 14px;
}

.navigation a {
  text-decoration: none;
  color: inherit;
}

.navigation a:hover,
.navigation button:hover {
  cursor: pointer;
}
