.caption {
  width: 290px;
  display: block;
  overflow: hidden;
}

.avatar {
  position: relative;
  width: 32px;
  height: 32px;
}

.avatar img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}
